
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - FOOD MUNCH </title>
    
</head>
<body style="background-image: url('../../assets/black-brick-wall-architectural-surface_73152-3751.avif'); height: 1000px;">
    <header>
        <h1>About Us</h1>
        
    </header>
    <div class="container">
        <section id="about">
            <h2 class="title" style="position: relative;left:50px">Our Story</h2>
            <p class="content" style="position: relative;left:50px">Welcome to Restaurant Name, where we combine culinary artistry with a warm, inviting atmosphere. Our journey began with a passion for serving delectable dishes crafted from the finest ingredients. Each recipe is a labor of love, prepared with meticulous care to tantalize your taste buds and leave you craving for more.</p>
            <p class="content" style="position: relative;left:50px">At Restaurant Name, we believe in creating memorable dining experiences that go beyond just satisfying hunger. From our cozy ambiance to our impeccable service, every detail is thoughtfully curated to ensure your complete satisfaction.</p>
        </section>
        <section id="team">
            <h2 class="title" style="position: relative;bottom:-400px;left:430px">Our Team</h2>
            
            <div class="member">
                <!-- <img src="chef1.jpg" alt="Chef 1"> -->
                <h3 class="content" style="position: relative;bottom:-400px;left:430px" >Chef John Doe</h3>
                
                
    
                <p class="content" style="position: relative;bottom:-400px;left:430px" >With over 20 years of culinary expertise, Chef John Doe brings innovation and creativity to every dish he creates.</p>
            </div>
            
            <video controls height="60px" width="1000px" style="position: relative;right:-300px;top: -100px;box-shadow: 5px 5px 10px rgba(255, 165, 0, 0.5);">
                <source src="../../assets/Restaurant food cinematic video advertisement.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </section>
    </div>
    <footer>
        <p>&copy; 2024 Restaurant Name. All rights reserved.</p>
    </footer>
</body>
</html>
