.sidebar{
    height: 100vh;
    width: 300px;
    position:fixed;
    top:0;
    left:0;
    padding-top: 20px;
    background-color:#ffa5009c;
    top:52px;
    display: flex;
}
.sidebar ul{
    list-style-type:none;
    padding: 0;
   
}
.sidebar li{
    padding: 10px;
}
.sidebar a{
 
    text-decoration: none;
}
.sidebar a:hover{
    color:darkslategrey;
}
.active{
    font-weight: bold;
}
.container{
    display: flex;
}
.content{
    flex: 1;
    padding-left:200px;
    padding-right: -900px;
}
.card {
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
  }
 
  .card img {
    width: 100%;
    height:auto;
    border-radius: 8px 8px 0 0;
  }
 
  .card-content {
    padding: 20px;
  }
 
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
 
  .top-row, .bottom-row {
    text-align: center;
  }
 
  .description {
    margin-top: 20px;
  }
 
  .description h2 {
    font-size: 24px;
    font-weight: bold;
  }
 
  .description p {
    font-size: 16px;
    color: #666;
  }
  .checked {
    color: orange;
}
