<p style="background-image: url('../../assets/black-brick-wall-architectural-surface_73152-3751.avif'); height: 700px;"></p><div class="container">
    <div class ="sidebar">
       
        <ul >
           
            <li><a routerLink="/pizza">Pizza</a></li>
            <li><a routerLink="/burger">Burger</a></li>
            <li><a routerLink="/pazta">Pazta</a></li>
            <li><a routerLink="/noodles">Noodles</a></li>
            <li><a routerLink="/tacos">Tacos</a></li>
            <li><a routerLink="/fries">Fries</a></li>
            <li><a routerLink="/drinks">Drinks</a></li>
            <li><a routerLink="/dessert">Dessert</a></li>
     
        </ul>
    </div>
     <!-- <div class="content">
        <router-outlet></router-outlet>
        </div>
    </div> -->